
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_API_VERSION="2024-12-01-preview"

LLM_MODEL = "gpt-5-chat" 
USE_NLU=FALSE

# if NLU is FALSE, define which intent to use
INTENT_NO_NLU=CAR #POI

STT_MODEL="gpt-4o-transcribe"
STT_MODEL_VERSION="2025-03-01-preview"

MAX_TURNS=10

TOP_K=3